body{
    font:Arial;
    background-color:rgb(233, 24, 24);
}
.title{
    font:Arial;
    font-size:50px;
    font-weight:800px;
    margin-left:600px;
    margin-bottom:100px;
}

.button-box{
    margin-left:600px;
    justify-content:space-between;
    border-color:black;
    border-width:2px;
}

.rock-button, .paper-button, .scissors-button, .reset-button{
    padding:10px 10px 10px 10px;
    color:White;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-right:10px;
    margin-left:22px;

}

.output{
    margin-left:22px;
    font-size:20px;
}